<ion-content [fullscreen]="true">

  <div class="container login-wrapper">
    <ion-img class="logo" src="../../assets/logo/logo.PNG" alt=""></ion-img>
    <form [formGroup]="formData">
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item" [ngClass]="{'invalid-field': submitted && f['email'] && f['email'].errors  }">
          <legend>Email Id <span class="danger">*</span> </legend>
          <ion-input formControlName="email" type="email" placeholder="name@domain.com"></ion-input>
        </fieldset>
      </ion-item>
      <ion-item lines="none" class="ion-item">
        <fieldset class="input-item"
          [ngClass]="{'invalid-field': submitted && f['password'] && f['password'].errors  }">
          <legend>Password <span class="danger">*</span> </legend>
          <ion-input formControlName="password" type="password" placeholder="*******">
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </fieldset>
      </ion-item>
      <p class="forget-text"><a>Forgot Password?</a></p>

      <!-- <ion-router-link href="signup">
        <ion-button>Go to Page 2</ion-button>
      </ion-router-link> -->
      <p class="signup-text" routerLink='/signup'>I'm a new user&nbsp;<a>Sign Up?</a></p>
      <ion-button class="login-button" expand="block" (click)="onSubmit()">Login</ion-button>
      <ion-button class="google-button" expand="block" color="light"><ion-icon></ion-icon>&nbsp;&nbsp;Google
        Signin</ion-button>
    </form>
  </div>
</ion-content>